html, body, #app {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
}

#signin {
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signin * {
  width: 100%;
  height: 100%;
}

#phonenums {
  min-width: 10%;
  width: 0px;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
}

#phonenums * {
  padding-left: .1em;
  padding-right: .1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#messagearea {
  width: 0px;
  flex-grow: 2;
  height: 100vh;
  max-height: 100vh;
}

#messages {
  flex-direction: column-reverse;
  overflow: scroll;
}

.message {
  padding-bottom: .25em !important;
  padding-top: .25em !important;
}

.message * {
  display: inline-block !important;
  max-width: 50% !important;
  padding-left: .1em !important;
  padding-right: .1em !important;
  padding-top: .1em !important;
  padding-bottom: .1em !important;
  text-align: center !important;
}

.my-message {
  text-align: right !important;
  padding-right: 1em !important;
}

.their-message {
  text-align: left !important;
  padding-left: 1em !important;
}
