html, body, #app {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
}

#signin {
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signin * {
  width: 100%;
  height: 100%;
}

#phonenums {
  min-width: 10%;
  width: 0px;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
}

#phonenums * {
  padding-left: .1em;
  padding-right: .1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#messagearea {
  width: 0px;
  flex-grow: 2;
  height: 100%;
}

.message {
  padding-bottom: .25em;
  padding-top: .25em;
  width: 100%;
}

.message * {
  display: inline-block;
  padding-left: .1em;
  padding-right: .1em;
  padding-top: .1em;
  padding-bottom: .1em;
  max-width: 50%;
}

.message * * {
  padding: 0em;
}

.message * * * {
  text-align: center;
}

.my-message {
  text-align: right;
  padding-right: 1em;
}

.their-message {
  text-align: left;
  padding-left: 1em;
}
