<!DOCTYPE html>
<html>
  <head>
    <!-- Metadata -->
    <title></title>
    <link rel="manifest" href="/manifest.json">
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  </head>
  <body>
    <div id="app">
      <b-button pill variant="primary" size="lg" style="position: absolute; top: .5em; right: .5em;" v-b-modal.modal-sendmessage>+</b-button>
      <b-modal id="modal-sendmessage" size="xl" title="Send A Message">
        <b-form-input v-model="text" placeholder="Phone Number"></b-form-input>
        <b-form-textarea placeholder="Hello!" rows="3" max-rows="8"></b-form-textarea>
        <b-button block variant="primary">Send Message</b-button>
      </b-modal>
      <div v-if="!signedin" id="signin">
        <b-card v-bind:bg-variant="darkmode ? 'dark' : 'light'" v-bind:text-variant="darkmode ? 'white' : 'black'" title="Sign In">
          <b-card-text>
            By signing in, you agree to the <a href="privacy.html">Privacy Policy</a>.
          </b-card-text>
          <b-button href="#" variant="primary">Sign In</b-button>
        </b-card>
      </div>
      <div v-if="signedin" id="main">
        <b-list-group style="min-width: 10%; width: 0px; white-space: nowrap;">
          <b-list-group-item button v-for="number in numbers">{{ (''+number).replace(/\D+/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3') }}</b-list-group-item>
        </b-list-group>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
