<!DOCTYPE html>
<html>
  <head>
    <!-- Metadata -->
    <title>MMS Online | Text Messages Without a Phone</title>
    <link rel="manifest" href="/manifest.json">
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.css" />

    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="!signedin" id="signin">
        <b-card v-bind:bg-variant="darkmode ? 'dark' : 'light'" v-bind:text-variant="darkmode ? 'white' : 'black'" title="Sign In">
          <b-card-text>
            By signing in, you agree to the <a href="privacy.html">Privacy Policy</a>.
          </b-card-text>
          <b-button href="#" variant="primary">Sign In</b-button>
        </b-card>
      </div>
      <div v-if="signedin" id="main">
        <b-form-radio-group buttons stacked id="phonenums" button-variant="outline-success" size="sm" style="flex-direction: column;">
          <b-form-radio v-for="number in numbers" v-bind:value="number" style="flex-grow: 0;">
            {{ (''+number).replace(/\D+/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3') }}
          </b-form-radio>
          <b-form-radio value="new" style="min-height: 0em; flex-grow: 0;">New Contact</b-form-radio>
          <b-form-radio value="" style="min-height: 0em; flex-grow: 1;" disabled></b-form-radio>
        </b-form-radio-group>
        <b-card
          border-variant="primary"
          header="Primary"
          header-bg-variant="primary"
          header-text-variant="white"
          align="center"
          id="messagearea"
        >
          <b-card-body id="messageareabody" style="display: flex; flex-direction: column;">
            <div id="messages" style="flex: 1; height: 100%; overflow-y: scroll;">
              <div class="message my-message">
                <b-card bg-variant="primary" text-variant="white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </b-card>
              </div>
              <div class="message their-message">
                <b-card bg-variant="light" text-variant="black">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </b-card>
              </div>
            </div>
            <div style="flex: none;">
              <input type="file" id="attachsend" style="display: none;">
              <b-input-group>
                <b-input-group-prepend>
                  <b-button variant="outline-secondary" onclick="document.getElementById('attachsend').click();">Attach File</b-button>
                </b-input-group-prepend>
                <b-form-input></b-form-input>
                <b-input-group-append>
                  <b-button variant="success">Send</b-button>
                </b-input-group-append>
              </b-input-group>
            </div>
          </b-card-body>
        </b-card>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>

