<!DOCTYPE html>
<html>
  <head>
    <!-- Metadata -->
    <title></title>
    <link rel="manifest" href="/manifest.json">
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="css/main.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.css" />

    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <b-button pill variant="primary" size="lg" style="position: absolute; top: .5em; right: .5em;" v-b-modal.modal-sendmessage>+</b-button>
      <b-modal id="modal-sendmessage" size="xl" title="Send A Message" modal-ok="Send" ok-variant="success" hide-header-close>
        <b-form-group
          description="Phone Number"
          label="To:"
          label-for="phonenum-input"
        >
          <b-form-input id="phonenum-input" trim></b-form-input>
        </b-form-group>
        <b-form-group
          description="The Message to Send"
          label="Message:"
          label-for="message"
        >
          <b-form-textarea
            id="message"
            rows="3"
            max-rows="8"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group
          label="Attachment:"
          label-for="attachment"
        >
          <b-form-file
            id="attachment"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
          ></b-form-file>
        </b-form-group>
      </b-modal>
      <div v-if="!signedin" id="signin">
        <b-card v-bind:bg-variant="darkmode ? 'dark' : 'light'" v-bind:text-variant="darkmode ? 'white' : 'black'" title="Sign In">
          <b-card-text>
            By signing in, you agree to the <a href="privacy.html">Privacy Policy</a>.
          </b-card-text>
          <b-button href="#" variant="primary">Sign In</b-button>
        </b-card>
      </div>
      <div v-if="signedin" id="main">
        <b-list-group id="phonenums">
          <b-list-group-item button v-for="number in numbers">{{ (''+number).replace(/\D+/g, '').replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3') }}</b-list-group-item>
        </b-list-group>
        <b-card
          border-variant="primary"
          header="Primary"
          header-bg-variant="primary"
          header-text-variant="white"
          align="center"
          id="messagearea"
        >
          <div id="messages">
            <div class="message my-message">
              <b-card bg-variant="primary" text-variant="white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </b-card>
            </div>
            <div class="message their-message">
              <b-card bg-variant="light" text-variant="black">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              </b-card>
            </div>
          </div>
        </b-card>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>

